body {
margin:0%;
padding:0%;
background-color: #f9fafb;
font-family:Arial, Helvetica, sans-serif;
font-size:15px;
line-height:1.5;
color:#4b5563;
}
h1{
  color:#374151;
  margin-top:0px;
}
.navbar{
  gap: 15px;
  display:flex;
  padding:15px;
  margin: 10px;
  background-color:#ffffff;
  box-shadow:0 1px 3px rgba(0,0,0,0.05);
}
button {
padding: 10px 15px;
background-color:#6b8afd;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
box-shadow:0 1px 2px rgba(0,0,0,0.05);
transition:0.2;
font-weight:500;
}
button:hover{
  background-color:#c4b5fd;
  color:#374151;
  box-shadow:0 2px 4px rgba(0,0,0,0.1);
}
.page{
  padding:20px;
  margin:10px;
}
.card{
  background-color:#ffffff;
  border-radius:12px;
  box-shadow:0 3px 10px rgba(0,0,0,0.1);
  min-width:200px;
  text-align:center;
  flex-direction:column;
  padding:20px;
}
card.hover{
  box-shadow:0 5px 10px rgba(0,0,0,0.08);
}

input,select{
padding:8px 10px;
border-radius:5px;
border:2px solid #e5e7eb;
}
label{
  display:block;
  margin-bottom:5px;
  font-weight:bold;
}